/* Components */
    /* Articles */
    .article {
        font-size: 16px;
        margin: 20px auto;
        padding: 20px;
        width: 90%
    }
        /* Headers & Titles */
        .article h1 {
            text-indent: .825rem
        }
        .article h2 {
            text-indent: 2.5rem
        }
        /* Section Breaks */
        .article hr {
            border-color: rgba(0, 0, 0, .75);
            margin: 30px auto;
            width: 95%
        }
        /* Sub Section Content */
        .article .sub-section > *:not(h2) {
            margin: 15px 5rem;
        }
    /* Header Navigation Panel */
        /* Items */
        #headerNav > *[data-id="linkC"] {
            background: #388E3C !important;
            color: #FFFFFF !important
        }