/* HTML Elements */
    /* <a> */
    a:not([data-id]):not([data-ref]) {
        color: #FFFFFF !important;
        font-size: 16px;
        font-weight: bold;
        text-shadow: 0 0 1px rgba(127, 127, 127, .5)
    }
    /* <main> */
    main {
        background: #388E3C;
        padding: 15px 100px
    }

/* Components */
    /* Header Navigation Panel */
        /* Items */
        #headerNav > *[data-id="linkD"] {
            background: #388E3C !important;
            color: #FFFFFF !important
        }
    /* Form Title */
    #title {
        color: #FFFFFF
    }
    /* Forms */
    .form {
        background: #FFFFFF;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
        margin: 30px auto;
        width: 50%
    }
            /* Sign In */
            #signIn {
                display: block
            }
            /* Login */
            #login {
                display: none
            }
            /* Virtual Account */
            #vAccount {
                display: none
            }
                /* Collapsed Width Fields */
                .form .collapsed {
                    display: inline-block !important
                }
                /* Form Fields */
                .form input:not([type="checkbox"]) {
                    background: transparent;
                    border: 0;
                    border-bottom: 2px solid #388E3C;
                    display: block;
                    font-weight: bold;
                    margin: 7px auto;
                    outline: 0 !important;
                    padding: 5px;
                    width: 100%
                }
                .form input:not([type="checkbox"]):not([type="submit"]):focus {
                    border-bottom-color: #AFB42B
                }
                    /* Placeholder */
                    .form input:-moz-placeholder {
                        color: #787878;
                        font-weight: normal;
                        transition: .5s
                    }
                    .form input::-moz-placeholder {
                        color: #787878;
                        font-weight: normal;
                        transition: .5s
                    }
                    .form input::-ms-input-placeholder {
                        color: #787878;
                        font-weight: normal;
                        transition: .5s
                    }
                    .form input::-webkit-input-placeholder {
                        color: #787878;
                        font-weight: normal;
                        transition: .5s
                    }
                /* Required Fields */
                .form input:not([required]) {
                    opacity: .9;
                }
                .form input:not([required]):focus,
                .form input:not([required]):hover {
                    opacity: 1;
                }
                /* Checkboxes */
                .form input[type="checkbox"] {
                    background: #388E3C;
                    border: 1px solid #FFFFFF;
                    cursor: pointer;
                    outline: 0 !important;
                    margin: 20px 20px 0 20px;
                    padding: 6px;
                    -webkit-appearance: button
                }
                .form input[type="checkbox"]:checked {
                    background: #FFFFFF;
                    border-color: #388E3C
                }
                /* Submit Buttons */
                .form input[type="submit"] {
                    border-bottom: 0;
                    box-shadow: 0 0 5px 0 #000000;
                    font-weight: normal;
                    margin: 20px auto;
                    width: 90%
                }