/* HTML Elements */
    /* <body>, <html> */
    body,
    html {
        height: 100%
    }

/* Components */
    /* Categories */
    #categorySection {
        cursor: default;
        padding: 10px 30px
    }
        /* Category Section */
        #categorySection > .category {
            box-shadow: 0 0 2.5px 0 rgba(0, 0, 0, .125);
            display: inline-block;
            height: 300px;
            overflow: hidden;
            margin: 20px 27.5px;
            padding: 0;
            transition: .675s;
            width: 250px;
            zoom: .9
        }
            /* Caption */
            #categorySection .category h1 {
                font-size: 25px;
                margin: 20px 25px 20px 0;
                text-indent: 50px
            }
            /* Frame */
            #categorySection .category > *:not(h1) {
                border: 1px solid rgba(0, 0, 0, .5);
                filter: brightness(.85);
                height: 70%;
                margin: 5px;
                width: 96%
            }
            #categorySection .category > *:not(h1):hover {
                filter: none
            }
    /* Container */
    .container {
        margin: 0;
        padding: 0
    }
    /* Header */
    #header {
        overflow: hidden
    }
        /* Header Carousel */
        #headerCarousel {
            cursor: default;
            height: 575px !important;
            padding: 0;
            width: 100% !important
        }
        #headerCarousel,
        #headerCarousel .active,
        #headerCarousel .item {
            height: 100%
        }
            /* Carousel Captions */
                /* Header Titles */
                #headerCarousel .carousel-caption {
                    display: block;
                    font-family: "Calibri Light";
                    font-weight: lighter;
                    left: -25%;
                    position: absolute;
                    top: 125px;
                    width: 100%;
                    z-index: 1
                }
                    /* Buttons */
                    #headerCarousel .carousel-caption #buttons > * {
                        display: inline-block;
                        font-size: 24px;
                        margin: 20px;
                        width: 150px
                    }
                    /* Title */
                    #headerCarousel .carousel-caption #header {
                        color: #FFF;
                        font-size: 72px
                    }
            /* Carousel Controls */
            #headerCarousel .carousel-control {
                align-items: center;
                background: transparent;
                color: #FFFFFF;
                display: flex;
                font-size: 30px;
                justify-content: center;
                opacity: .75;
                width: 7.5%
            }
            #headerCarousel .carousel-control:hover {
                opacity: 1
            }
            /* Carousel Indicators */
            #headerCarousel .carousel-indicators {
                transform: translateY(10px);
                zoom: .9
            }
            #headerCarousel .carousel-indicators li {
                border: 2px solid #FFFFFF;
                border-radius: 50%;
                box-shadow: 0 0 2.5px 0 rgba(255, 255, 255, .5), 0 0 1.25px 0 rgba(0, 0, 0, .5), inset 0 0 0 1.75px rgba(127, 127, 127, .5);
                height: 20px;
                width: 20px
            }
            #headerCarousel .carousel-indicators li:active,
            #headerCarousel .carousel-indicators li.active {
                background: rgba(255, 255, 255, .5) !important;
                padding: 9px
            }
            #headerCarousel .carousel-indicators li:hover {
                background: rgba(0, 0, 0, .5)
            }
            #headerCarousel .carousel-indicators li.active:active {
                background: #FFFFFF !important
            }
            /* Inner Carousel */
            #headerCarousel .carousel-inner {
                height: 100%
            }
                /* Carousel Slides */
                #headerCarousel .slide-item {
                    box-shadow: inset 0 0 100px 0 #000000
                }