/* Components */
    /* Header */
    #header {
        margin: 50px 5%
    }

    /* Invoice */
    #invoice {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
        margin: 0 auto;
        width: 75%
    }
        /* Content */
        .invoice > * {
            background-color: #FFFFFF;
            background-image: none;
            border: 1px solid #CCCCCC;
            border-radius: 4px;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            color: #565656;
            display: inline-block;
            font-size: 14px;
            height: 34px;
            line-height: 1.42857143;
            padding: 6px 12px;
            transition: border-color, box-shadow .15s ease-in-out;
            width: 100%
        }
            /* Non-Editable Content */
            .invoice > fieldset[disabled] *,
            .invoice > *[readonly] {
                background-color: #EEEEEE;
                opacity: 1
            }
        /* Primary Content */
        .header,
        .primary-input {
            width: 75%
        }
        /* Secondary Content */
        .secondary-input {
            
        }