/* Colors */
    /* Main Background Colors:
            #B5E61D or rgb(181, 230, 29),
            #3F500A or rgb(63, 80, 10)
    */

    /* Main Border Colors:
            #B5E61D or rgb(181, 230, 29)
    */

    /* Main Foreground Colors:
            #B5E61D or rgb(181, 230, 29),
            #94BD15 or rgb(148, 189, 21),
            #86AC13 or rgb(134, 172, 19),
            #3F500A or rgb(63, 80, 10)
    */

/* HTML Elements */
    /* * */
    * {
        font-family: SureJobsFontRounded;
        letter-spacing: 1.3px;
        transition: .675s
    }
    /* <a> */
    a {
        color: #94BD15;
        cursor: pointer;
        text-decoration: none !important;
        text-shadow: 0 0 1px rgba(0, 0, 0, .1)
    }
    a:focus,
    a:hover {
        color: #86AC13
    }
    /* <body> */
    body {
        /* --- NOTE ---
                To compensate for the Header Navigation Panel
                and the body content or footer
        */
        border-top: 50px solid transparent
    }
    /* <body>, <html>, <main>
            --- NOTE ---
                All major background colors will be
                charged on the uppermost layer
                (the <main> element).
    */
    body,
    html,
    main {
        background: #FFFFFF;
        margin: 0;
        overflow-x: hidden;
        padding: 0
    }
    /* <dfn> */
    dfn {
        font-size: larger;
    }

/* Components */
    /* Articles */
    .article,
    .form {
        padding: 15px
    }
    /* Background */
    .bg {
        background: transparent none no-repeat scroll center / cover padding-box border-box;
        background-blend-mode: soft-light;
        box-sizing: border-box;
        height: 100%;
        object-fit: contain;
        object-position: center;
        width: 100%;
        -moz-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover
    }
    /* Buttons */
        /* Default */
        .quinsa-btn {
            background: #94BD15 !important;
            border: 0;
            border-radius: 4px;
            box-shadow: 0 0 5px 0 rgba(127, 127, 127, .75);
            color: #FFFFFF !important;
            padding: 4px;
            text-shadow: none;
            transition: .5s
        }
        input:focus,
        .quinsa-btn:focus {
            outline: 1px double rgba(63, 80, 10, .5);
            outline-offset: 3px
        }
        .quinsa-btn:hover {
            background: #FFFFFF !important;
            color: #94BD15 !important
        }
        /* 2nd Theme */
        .quinsa-btn-theme:hover {
            background: #000000 !important;
            color: #FFFFFF !important
        }
        /* Inverted */
        .quinsa-btn-inverse {
            background: #FFFFFF !important;
            color: #94BD15 !important
        }
        .quinsa-btn-inverse:hover {
            background: #94BD15 !important;
            color: #FFFFFF !important
        }
    /* Fields */
    input,
    .quinsa-btn {
        outline: 1px double transparent
    }
    /* Footer */
    #footerCopy {
        border-top: 1px solid;
        padding: 10px 50px;
        text-align: center
    }
        /* Footer Content */
        #footerCopy .footer-content {
            flex-grow: 1;
            margin: 10px auto
        }
            /* Footer Content Components */
                /* Links */
                #footerCopy #links {
                    align-items: center;
                    display: flex;
                    justify-content: center
                }
                #footerCopy #links > * {
                    display: inline-block;
                    padding: 10px auto;
                    width: 20%
                }
                /* Logos */
                #footerCopy #logos > * {
                    border: 1px solid rgba(0, 0, 0, .1);
                    cursor: pointer;
                    display: inline-block;
                    height: 50px;
                    margin: 5px 35px;
                    padding: 5px;
                    width: 50px
                }
    /* Forms */
    .form {
        display: inline-block;
    }
    /* Header Navigation Panel (Navigation) */
    #headerNav {
        background: #FFFFFF;
        box-shadow: 0 0 7.5px 0 rgba(0, 0, 0, .5);
        display: flex;
        left: 0;
        margin: 0;
        padding: 0;
        position: fixed;
        text-shadow: none;
        top: 0;
        width: 100%;
        z-index: 2
    }
        /* --- UPDATE REQUIRED ---
                The navigation dropdown must be decided upon.
        */
        #headerNavExtraDropdown {
            display: flex;
            margin: 0;
            padding: 0;
            width: 100%
        }
        #headerNavExtraDropdown > * {
            background: #FFFFFF;
            border-bottom: 2px solid #94BD15;
            box-shadow: 0 0 2.5px 0 rgba(0, 0, 0, .3);
            flex-grow: 1;
            display: inline-block;
            left: 0;
            list-style: none;
            margin: 0;
            min-height: 30px;
            opacity: 0;
            padding: 10px;
            pointer-events: none;
            position: fixed;
            top: 50px /* --- FIXED --- #headerNavExtraDropdown > * */;
            width: 25%;
            z-index: 1
        }
        #headerNavExtraDropdown > *[data-ref="linkA"] {
            left: 17.5%
        }
        #headerNavExtraDropdown > *[data-ref="linkB"] {
            left: 33%
        }
        #headerNavExtraDropdown > *[data-ref="linkC"] {
            left: 45%
        }
        #headerNavExtraDropdown > *[data-ref="linkD"] {
            display: none;
            left: 57.5%
        }
        #headerNavExtraDropdown > *[data-ref="linkE"] {
            left: 70%
        }
        /* Main Item */
        #headerNav .main {
            background: #FFFFFF !important;
            border-bottom-color: transparent !important;
            font-size: 20px;
            width: 25%
        }
            /* Company Logo */
            #headerNav .main > * {
                bottom: 13.5px;
                height: 235%;
                position: relative;
                width: 55%
            }
        /* Items */
        #headerNav > * {
            color: #94BD15;
            cursor: pointer;
            display: inline-block;
            font-size: 16.67px;
            font-weight: bold;
            height: 50px /* --- FIXED --- #headerNav > * */;
            padding: 15px 0;
            margin: 0;
            text-align: center;
            text-decoration: none;
            width: 12.5%
        }
        #headerNav > *:focus {
            outline: 1px solid #94BD15
        }
        #headerNav > *:hover {
            background: #94BD15;
            color: #FFFFFF
        }
        /* User Navigation Item */
        #headerNav > *[data-id="linkE"] {
            display: none
        }

/* Dependency CSS
        --- NOTE ---
            Pieces of code freely given to use.
*/
    /* Text Type CSS */
    [data-kbd] {
        /* --- NOTE ---
                Stimulate text cursor effect.
        */
        animation: txtCursor .3s linear 0s infinite alternate-reverse forwards running;
        border: 0;
        border-left: 2px solid;
        display: inline;
        padding-right: 0;
        z-index: 3
    }
    [data-kbd*="rev"] {
        border-left: 0;
        border-right: 2px solid
    }
        @keyframes txtCursor {
            0% {
                border-color: transparent
            }
        }
    /* Tooltip CSS */
    #tooltip {
        background: #FFFFFF;
        border: 1px solid;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
        color: #94BD15;
        display: inline;
        font-size: 10px;
        font-weight: bold !important;
        left: 0;
        opacity: 0;
        padding: 2.5px;
        pointer-events: none;
        position: fixed;
        transition: opacity 1s;
        top: 0;
        z-index: 2147483647 !important
    }