/* Colors
        #388E3C or rgb(56, 142, 60) or hsl(123, 154, 142) or cmyk(61, 0, 58, 44),
        #689F38 or rgb(104, 159, 56) or hsl(92, 165, 159) or cmyk(35, 0, 65, 38),
        #AFB42B or rgb(175, 180, 43) or hsl(62, 194, 180) or cmyk(3, 0, 76, 29)
*/

/* CSS At-Rules */
/* @font-face */
@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway/Raleway-Medium.ttf')
}

/* HTML Elements */
    /* * */
    * {
        font-family: Raleway, sans-serif;
        letter-spacing: 1.3px;
        transition: .675s
    }
    /* <a> */
    a {
        color: #388E3C;
        cursor: pointer;
        text-decoration: none !important;
        text-shadow: 0 0 1px rgba(56, 142, 60, .5)
    }
    a:focus,
    a:hover {
        color: #AFB42B;
        text-shadow: 0 0 1px rgba(175, 180, 43, .5)
    }
    /* <body> */
    body {
        /* --- NOTE ---
                To compensate for the Header Navigation Panel
                and the body content or footer
        */
        border-top: 50px solid transparent
    }
    /* <body>, <html>, <main>
            --- NOTE ---
                All major background colors will be
                charged on the uppermost layer
                (the <main> element).
    */
    body,
    html,
    main {
        background: #FFFFFF;
        margin: 0;
        overflow-x: hidden;
        padding: 0
    }
    /* <dfn> */
    dfn {
        font-size: larger
    }

/* Components */
    /* Articles */
    .article,
    .form {
        padding: 15px
    }
    /* Background */
    .bg {
        background: transparent none no-repeat scroll center / cover padding-box border-box;
        background-blend-mode: soft-light;
        box-sizing: border-box;
        height: 100%;
        object-fit: contain;
        object-position: center;
        width: 100%;
        -moz-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover
    }
    /* Buttons */
        /* Default */
        .quinsa-btn {
            background: #689F38 !important;
            border: 0;
            border-radius: 4px;
            box-shadow: 0 0 5px 0 rgba(127, 127, 127, .75);
            color: #FFFFFF !important;
            padding: 4px;
            text-shadow: none;
            transition: .5s
        }
        input:focus,
        .quinsa-btn:focus {
            outline: 1px double rgba(104, 159, 56, .5);
            outline-offset: 3px
        }
        .quinsa-btn:hover {
            background: #FFFFFF !important;
            color: #689F38 !important
        }
        /* 2nd Theme */
        .quinsa-btn-theme:hover {
            background: #000000 !important;
            color: #FFFFFF !important
        }
        /* Inverted */
        .quinsa-btn-inverse {
            background: #FFFFFF !important;
            color: #689F38 !important
        }
        .quinsa-btn-inverse:hover {
            background: #689F38 !important;
            color: #FFFFFF !important
        }
    /* Fields */
    input,
    .quinsa-btn {
        outline: 1px double transparent
    }
    /* Footer */
    #footerCopy {
        border-top: 1px solid;
        padding: 10px 50px;
        text-align: center
    }
        /* Footer Content */
        #footerCopy .footer-content {
            display: flex;
            flex-grow: 1;
            margin: 10px auto;
            justify-content: center
        }
            /* Footer Content Components */
                /* Links */
                    /* Container */
                    #footerCopy #links {
                        align-items: center;
                        display: flex;
                        justify-content: center
                    }
                    /* Links */
                    #footerCopy #links > * {
                        flex-grow: 1;
                        margin: 0 5px;
                        padding: 10px auto;
                        width: 20%
                    }
                /* Logos */
                    /* Logos */
                    #footerCopy #logos > * {
                        border: 1px solid rgba(0, 0, 0, .1);
                        cursor: pointer;
                        display: inline-block;
                        height: 50px;
                        margin: 5px 35px;
                        padding: 5px;
                        width: 50px
                    }
                    #footerCopy #logos > [data-inactive] {
                        display: none !important
                    }
    /* Forms */
    .form {
        display: inline-block;
    }
    /* Header Navigation Panel (Navigation) */
    #headerNav {
        background: #FFFFFF;
        box-shadow: 0 0 7.5px 0 rgba(0, 0, 0, .5);
        display: flex;
        left: 0;
        margin: 0;
        padding: 0;
        position: fixed;
        text-shadow: none;
        top: 0;
        width: 100%;
        z-index: 2
    }
        /* Main Item */
        #headerNav .main {
            background: #FFFFFF !important;
            border-bottom-color: transparent !important;
            font-size: 20px;
            width: 25%
        }
            /* Company Logo */
            #headerNav .main > * {
                bottom: 13.5px;
                height: 235%;
                position: relative;
                width: 55%
            }
        /* Items */
        #headerNav > * {
            color: #689F38;
            cursor: pointer;
            display: inline-block;
            font-size: 16.67px;
            font-weight: bold;
            height: 50px /* --- FIXED --- #headerNav > * */;
            padding: 15px 0;
            margin: 0;
            text-align: center;
            text-decoration: none;
            width: 12.5%
        }
        #headerNav > *:focus {
            outline: 1px solid #689F38
        }
        #headerNav > *:hover {
            background: #689F38;
            color: #FFFFFF
        }

/* Dependency CSS
        --- NOTE ---
            Minified sections of plug-in code.
*/
    /* Lapys JS */
    [data-kbd] { animation: txtCursor .3s linear 0s infinite alternate-reverse forwards running; border: 0; border-left: 2px solid; display: inline; padding-right: 0; z-index: 3 } [data-kbd*="rev"] { border-left: 0; border-right: 2px solid } @keyframes txtCursor { 0% { border-color: transparent } }
        /* Tooltip CSS */
        #tooltip {
            animation: fadeIn .5s;
            background: #FFFFFF;
            border: 1px solid;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
            color: #388E3C;
            display: inline;
            font-size: 11px;
            font-weight: bold !important;
            left: 0;
            opacity: 0;
            padding: 2.5px;
            pointer-events: none;
            position: fixed;
            transition: opacity 1s;
            top: 0;
            z-index: 2147483647 !important
        }