/* Components */
    /* Header Navigation Panel */
        /* Items */
            /* Link D */
            #headerNav > *[data-id="linkD"] {
                display: none !important
            }
            /* Link E | Profile */
            #headerNav > *[data-id="linkE"] {
                background: #FFFFFF !important;
                color: #94BD15;
                display: inline-block !important;
                flex-grow: 1
            }
            #headerNav > *[data-id="linkE"] * {
                transition: none
            }
                /* Profile Picture */
                #headerNav > *[data-id="linkE"] .user-pic {
                    border-radius: 2.5px;
                    box-shadow: inset 0 0 2.5px 0 rgba(0, 0, 0, .5);
                    display: inline-block;
                    height: 40px;
                    position: absolute;
                    right: 80px;
                    top: 5px;
                    width: 40px
                }